.App {
  text-align: center;
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.unauthenticated__title {
  color: white;
}

.unauthenticated__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.unauthenticated__buttons > * {
  margin-left: 15px;
}

.authenticated {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /*width: 100%;*/
}

.authenticated__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  margin: 15px;
}

.authenticated__videos-row {
  display: flex;
  margin-bottom: 20px;
}

.authenticated__video {
  flex: 0;
  margin: 0 15px;
}

.authenticated__button {
  cursor: pointer;
  margin: 0 auto;
}

img.authenticated__video-thumbnail {
  width: 300px;
  margin: 0 auto;
}

.merchant {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.merchant-form {
  width: 50%;
}

.merchant-form__title {
  margin: 5rem 0 2rem 0;
}
